div.dataTables_wrapper
{
    .row {
        margin: 20px 0px 20px 0px;
    }

    .row:nth-child(3) {
        //padding-bottom: 4.5vw; 
        //overflow-x: auto; 
        .dataTables_scrollHead, .dataTables_scrollBody {
            overflow: visible !important; 
        }
    }
    
    .dataTables_length, .dataTables_filter {
        select {
            border-color: #cfcfcf;
        }
    
        select:focus{
            border-color: rgba(110, 8, 15, 0.5);
            box-shadow: 0 0 5px rgba(192, 16, 28, 0.336) !important; 
            outline-color :  none;
        }
    
        input {
            border-color: #cfcfcf;
        }
    
        input:focus{
            border-color: rgba(110, 8, 15, 0.5);
            box-shadow: 0 0 5px rgba(192, 16, 28, 0.336) !important; 
            outline-color :  none;
        }
    }

    ul.pagination li{
        .page-link {        
            color: #6e080f;
        }

    }

    ul.pagination li.active {
        .page-link {
            color:white;
            border-color: #fecc59;
            background-color: #6e080f; 
        }
    }

    ul.pagination li.disabled {
        .page-link {
            color:#afaa9e;
        }
    }

    table
    {
        margin-bottom: 0;
        thead {
            background-color: #6e080f;
            color: white;
            font-family: 'Raleway';  
            th {
                font-weight: normal !important; 
            }
        }

        tbody {
            background-color: #fcfcfc;
        } 
        
    }

    .table-hover tbody tr:hover td {
        background: #f3eded;
    }

    .table-bordered {
        th, td {
            border: none; 
        }
    }

}

//Drop down options

.dropdown-toggle::before { 
    content: none !important; 
} 



.table-action-menu:hover {
    .dropdown-menu{
        display: block; 
        transform: translate(27px); 
    }  
} 

.table-action-menu {
    .dropleft .dropdown-menu {
        transform: translateX(-142px) !important; 
        left: 0; 
    }
}

