// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Muli', sans-serif;
$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$burger: #6e080f;
$markian: #96232f; 
$isko: #811A25; 
$grape: #741e38; 
$mango: #ffd247; 
$banana: #FFE9A6; 
$legosi: #767181; 
$rabbit: #c3c3c3; 