// Variables
@import 'breakpoints';
@import 'variables';
@import 'datatables';



// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Muli');

// Dependencies
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Components
@import 'navbar';
@import 'custom-datatables';
@import 'error-pages';

// Overrides

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus, select:focus {
    box-shadow: none !important;
} 

.dropdown-item.active, .dropdown-item:active {
    color: #16181b; 
    background-color: $banana; 
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', 'sans-serif'; 
}

label {
    font-family: 'Raleway', sans-serif; 
    font-weight: bold; 
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    outline-offset: -2px;
}

.form-control:focus, .form-control:active {
    border-color: $burger;
}

h1.page-title {
    font-family: 'Muli', sans-serif;
    padding-left: 15px;
    @include md-br {
        padding-left: 0px;
    }
}

h1.page-title + .btn-lms {
    margin-bottom: 0.5rem !important; 
    margin-left: 0.5rem !important; 
}

.btn-lms {
    background-color: none;
    border: 1px solid $markian;
    border-radius: 5px;
    color: $markian; 
}

.btn-lms:hover {
    background-color: $markian; 
    color: white;
    box-shadow: 0 0 5px rgba(150, 12, 21, 0.425) !important;
}

.btn-lms2 {
    background-color: $burger;
    border: 1px solid $burger;
    color: white;
}


.btn-lms2:hover {
    color: #fecc59;
}

.btn-lms-solid {
    background-color: $markian;
    border: 1px solid $markian;
    border-radius: 5px;
    color: white;
}

.btn-lms-solid:hover {
    color: white; 
    background-color: $isko;
    border-color: $isko;  
    box-shadow: 0 0 5px rgba(199, 17, 29, 0.432) !important;
}

//Franchesca css for librarian
//librarian homepage
div#homepage {

    .searchbar {
        margin-top: 10px;
    }
    
    input[type=search], select {
        width: 38%;
        padding: 12px 20px;
        display: inline-block;
        border: 2px solid #fecc59;
        border-radius: 40px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: transparent;
        color: #fecc59;
        border: 0;
    }
    
    input[type="submit"]:hover {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: transparent;
        color: #ab893b;
        border: 0;
    }
    
    .caption {
        display: block;
        text-align: center;
        padding: 5px 8px;
        text-decoration: none;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 150px; 
    }
    
    .thumbnail:hover{
        border: 2px solid #fecc59;
    }
    
    .thumbnail{
        width: auto;
        padding-top: 35px;
        height:220px;
        background-color:#dedfdf;
    } 
    
    .caption a {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
    }

    .caption .adjust {
        padding-top: 21px;
    }
    
    .tab {
        position:absolute;
        left:350px; 
    }

    .searchbar{
        text-align: center;
    }
    
    img {
        width: 20%;
    }
}

//librarian managelibrary
div#manageLibrary {

    .navbooks {  
        overflow: hidden;
        background-color: transparent; 
    }
      
    .navbooks a {
        float: left;
        display: block;
        color: #222222;
        text-align: center;
        padding: 5px 8px;
        text-decoration: none;
        font-size: 14px;
        border-bottom: 2px solid gray;
    }
      
    .navbooks a:hover {
        border-bottom: 2px solid #fecc59;
    }
    
    .navbooks a.active {
        border-bottom: 2px solid #fecc59;
    }

    .headcolor {
        background-color: #92130f;
        color: white;
        text-align: center;
    }

    .btn dropdown-toggle{
        font-size:12px;
    }

    input[type=search], select {
        width: 70%;
        padding: 12px 20px;
        margin: 10px 0;
        display: inline-block;
        border: 2px solid #fecc59;
        border-radius: 40px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: transparent;
        color: #fecc59;
        border: 0;
    }
    
    input[type="submit"]:hover {
        margin-left: -50px;
        height: 25px;
        width: 50px;
        background: transparent;
        color: #ab893b;
        border: 0;
    }

    body{
        background: #f2f2f2;
    }
    
    .dropdown {
        position: relative;
        display:inline-block;
    }

    tbody#body {
        text-align: center;
    }

    .options {
        text-align: right;
        padding-top:20px;
    }

    .filter {
        margin-bottom: 10px;
    }

    #filterChoices {
        margin-left: 10px;
        text-align: center;
    }

    .sort {
        text-align: right;
    }
}

//librarian create book
div#create {
    body{
        font-size:20pt;
        background-color:#f0f0f0;
    }

    /* 
    label {
        font-weight: bold;
    } */  

}

//librarian update book
div#update {
    body{
        font-size:20pt;
        background-color:#f0f0f0;
    }
    /*
    #title {
        margin-top: 15px;
        margin-bottom: 30px;
    } */

    label {
        font-weight: bold;
    }

    #back {
        text-align: right;
    }
}

.gallery {
    background-color: #fecc59;
    margin-left: 100px;
    border: 10px solid #fecc59;
    width: 50%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 1.35);
}

.card.barcode{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width:65%;
    text-align: center;
    border-color:$burger;
}

.navbooks {  
    overflow: hidden;
    background-color: transparent; 
}
  
.navbooks a {
    float: left;
    display: block;
    color: #222222;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1.5px solid gray;
}
  
.navbooks a:hover {
    border-bottom: 1.5px solid #fecc59;
}

.navbooks a.active {
    border-bottom: 1.5px solid #fecc59;
}
/*
.book-input-box {
    border-color: black;
    border-radius: 5px;
}
*/
.confirm {
    text-decoration-color: blanchedalmond;
}

.autocomplete li:hover {
    background-color: #f0f0f0;
}

.autocomplete-pos {
    display:block;
    position:absolute
}




//Kenneth's CSS
.input-header-red {
    color: white;
    background-color: $burger;
}

.page-heading {
    font-family: 'Muli', sans-serif;
}

.input-btn-red {
    background-color:transparent;
    border-color:$burger;
    color:$burger;
    border-radius:100px;
}

.login-heading {
    font-family: Raleway;
    color: #fecc59;
}

@media only screen and (min-width: 0px) {

    #login-img {
        display: none;
    }

    #login-img-2 {
        width: 100%;
        height: calc(100vh - 120.5px);
        position: absolute; 
        left: 0px;
        display: block;
    }

    .col-xl-5 h1 {
        margin-top: 10px;
        color: white;
        font-size: 30px;
    }

    .col-xl-5 h3 {
        color: #fecc59;
        font-size: 15px;
        font-family: 'Muli', sans-serif;
    }

    .col-xl-5 p {
        display: none;
    }

    .col-xl-2 {
        display: none;
    }

    .forgot-pass {
        font-size:9px;
    }
}

@media only screen and (min-width:1200px) {
    #login-img {
        width: 50%;
        height: calc(100vh - 120.5px);
        position: absolute; 
        left: -10px;
        display: block;
    }

    #login-img-2 {
        display: none;
    }

    .col-xl-5 h1 {
        color: white;
        font-size: 100px;
    }

    .col-xl-5 h3 {
        color: #fecc59;
        font-size: 35px;
        font-family: 'Muli', sans-serif;
    }

    .col-xl-5 p {
        display: block;
        color: white;
    }

    .col-xl-2 {
        display: block;
    }

    .forgot-pass {
        font-size:14px;
    }

    //change password and reset password css
    #data-table {
        font-size: 11px;
        font-family: Muli;
    }

    #data-table-books {
        font-size: 9px;
        font-family: Muli;
    }

    .homepage-footer h6{
        font-size: 16px;
    }
    
    .homepage-body{
        background-color:#262626; 
        height: 350px;
        padding-top:80px; 
        color: white; 
        font-family: Muli;
    }
    
    #login-card {
        width: 400px;
        position: absolute;
        top: 24vh;
        left: 19vh;
        color:  #fecc59; 
        font-family: Muli;
    }

    .nav-link {
        color:#424242;
        margin-left: 40px;
        font-size: 12px;
    }

    #navbar-menu {
        color:#424242;
        font-size: 20px;
        margin-left: 110px;
        margin-top: -5px;
        display: block;
    }

    #white-navbar {
        padding:20px;
        font-family: Raleway;
    }

    
    #search-filter {
        display:inline-block;
        margin-top:5px;
        border:none;
        width:90px;
    }
    
    #thead-btn {
        margin-top:5px;
        border-radius: 100px; 
        border-color: #6e080f; 
        color: #6e080f; 
        background-color: transparent;
    }
    
    #homepage-btn {
        border-color: #fecc59; 
        color: #fecc59; 
        background-color: transparent;
    }
   

    #add-edit-btn {
        width:140px;
        margin-top:5px;
        border-radius: 100px; 
        border-color: #6e080f; 
        color: #6e080f; 
        background-color: transparent;
    }

    #card-header {
        background-color: #6e080f;
        color: white; 
        text-align: left;
        font-family: Raleway;
    }

    #form-label-left {
        text-align: right;
    }

    #form-input-right {
        text-align: left;
    }

    

@media only screen and (min-width: 0px) {

    .navbar-brand {
        display: none !important;
    }

    .nav-link {
        color: white;
    }

    #white-navbar {
        background-color: #6e080f;
    }

    .navbar-toggler {
        color: white;
    }

    #navbar-menu {
        display: none;
    }

    #admin-navbar {
        margin-left: 0px;
    }

    #navbar-divider {
        margin-top: 5px;
        margin-top: 5px;
        display: block;
        border-color: white;
        opacity: .2;
    }

    #search-field {
        display:inline-block;
        margin-top:5px; 
        border-radius: 100px; 
        width: 250px;
    }

    #search-icon {
        position: absolute;
        top: 15px;
        left: 230px;
        opacity:.4;
    }

    #logout-btn {
        display: block;
    }

    #thead-btn-icon {
        display: block;
    }

    #thead-btn-txt {
        display: none;
    }

    h3 {
        font-family: Raleway;
    }

    #form-btn-left {
        text-align: center;
    }

    #form-btn-right {
        text-align: center;
    }

    #form-btn-mid {
        text-align: center;
    }

    .homepage-body p{
        font-size: 11px;
    }
    
    .homepage-body a{
        font-size: 11px;
    }

    .homepage-body h1{
        font-size: 60px;
    }

    .homepage-body{
        padding-left:50px; 
        padding-right:50px; 
    }

    .homepage-footer{
        margin-top: 45px;
        font-family: Muli;
        color: #424242;
        font-size: 12px;
    }

    .homepage-footer .col-lg {
        text-align: center;
    }


    .homepage-footer .col-lg hr{
        margin-left: 5px;
        margin-right: 5px;
    }

    #footer-br {
        display: none;
    }

    #footer-text{
        color: #424242;
    }

    .col-xl-5 h1 {
        color: white;
        font-size: 60px;
    }

    .col-xl-5 h3 {
        color: #fecc59;
        font-size: 15px;
    }

    .col-xl-5 p {
        display: none;
    }

    .card-body h5 {
        font-size:15px;
        color:#fecc59;
        font-family: Raleway;
    }

    #login-input {
        border-radius: 100px;
        border: none;
        font-size: 9px;
        background-color: #ebebeb;
    }

    #login-btn {
        background-color: #ebebeb;
        border-radius: 100px;
        width: 100px;
        font-size: 9px;
    }

    .col-xl-2 {
        display: none;
    }

    p br {
        display: none;
    }

    #thead-btn-panel {
        text-align: left;
    }

}

@media only screen and (min-width: 449px) {
    #thead-btn-panel {
        text-align: right;
    }
}

@media only screen and (min-width: 992px) {
    .homepage-footer .col-lg {
        text-align: left;
    }

    .homepage-footer .col-lg hr{
        display: none;
    }

    #footer-br {
        display: block;
    }

    #footer-text{
        color: #424242;
        font-size: 14px;
    }

    .thb-div {
        border-right: 1px solid rgba(184, 184, 184, 0.329)
    }
}

@media only screen and (min-width: 1000px) {
    p br {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {

    #admin-navbar {
        margin-left: 120px;
    }

    #logout-btn {
        display: none;
    }

    .navbar-brand {
        display: block !important;
    }

    #white-navbar {
        background-color: white;
    }

    #navbar-menu {
        display: block;
    }

    #navbar-divider {
        display: none;
    }

    .nav-link {
        font-size: 12px;
        margin-left: 50px;
        color: #424242;
    }

    .navbar-brand {
        display: block;
    }

    #search-field {
        display:inline-block;
        margin-top:5px; 
        border-radius: 100px; 
        width: 300px;
    }

    #search-icon {
        position: absolute;
        top: 15px;
        left: 275px;
        opacity:.4;
    }

    #thead-btn-icon {
        display: none;
    }

    #thead-btn-txt {
        display: inline;
    }

    #form-btn-left {
        text-align: right;
    }

    #form-btn-right {
        text-align: left;
    }

    #form-btn-mid {
        text-align: center;
    }

    .homepage-body p{
        font-size: 14px;
    }
    
    .homepage-body a{
        font-size: 14px;
    }

    .homepage-body h1{
        font-size: 90px;
    }

    .homepage-body{
        padding-left:150px; 
    }

    .col-xl-5 h1 {
        color: white;
        font-size: 100px;
    }

    .col-xl-5 h3 {
        color: #fecc59;
        font-size: 35px;
    }

    .col-xl-5 p {
        display: block;
        color: white;
    }

    .card-body h5 {
        font-size:40px;
        color:#fecc59;
        font-family: Raleway;
    }

    #login-input {
        border-radius: 100px;
        border: none;
        background-color: #ebebeb;
        font-size: 14px;
    }

    #login-btn {
        background-color: #ebebeb;
        border-radius: 100px;
        width: 100px;
        font-size: 14px;
    }

    .col-xl-2 {
        display: block;
    }

}

@media only screen and (min-width: 1500px) {
    .nav-link {
        font-size: 17px;
        margin-left: 70px;
        color: #424242;
    }
}

@media only screen and (min-width: 1920px) {

    #navbar-menu {
        color:#424242;
        font-size: 30px;
        margin-left: 200px;
        margin-top: -5px;
    }

    .nav-link {
        font-size: 19px;
        color:#424242;
        margin-left: 60px;
        margin-top: 4px;
    }


    .homepage-body h1{
        font-size: 90px;
    }

    .homepage-body p{
        font-size: 14px;
    }
    
    .homepage-body a{
        font-size: 14px;
    }
    
    .homepage-footer h6{
        font-size: 22px;
    }

    #data-table {
        font-size: 13px;
        font-family: Muli;
    }

    #data-table-books {
        font-size: 10px;
        font-family: Muli;
    }
}
}



//patron homepage css
/*
body.patronIndex{
    color: #222222;;
    font-family: 'Raleway', FontAwesome;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    text-decoration: none;
}


input[type=text].patronIndex, select {
    width: 38%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #fecc59;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
} 

input[type="submit"].patronIndex {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: transparent;
    color: #fecc59;
    border: 0;
}

input[type="submit"].patronIndex:hover {
    margin-left: -50px;
    height: 25px;
    width: 50px;
    background: transparent;
    color: #ab893b;
    border: 0;
}

*/ 

.caption {
    display: block;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.center.patronIndex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.thumbnail:hover{
    border: 2px solid #6e080f;
}

.thumbnail{
    margin-bottom:25px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
    background-color:#dedfdf;
}

.tab {
    position:absolute;left:350px; 
}



//patron view all books CSS
.navbooks {  
    overflow: hidden;
    background-color: transparent; 
}

.navbooks a {
    float: left;
    display: block;
    color: #222222;
    text-align: center;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1.5px solid gray;
}

.navbooks a:hover {
    border-bottom: 1.5px solid #fecc59;
}

.navbooks a.dummy:hover {
    border-bottom: 1.5px solid gray;
}

.navbooks a.active {
    border-bottom: 1.5px solid #fecc59;
}

table {
    font-size: 13px;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); */
}

.card {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

a.details {
    color: #6e080f;
}

a.details:hover {
    color: #92130f;
}

.headcolor {
    background-color: #6e080f;
    color: white;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    text-align:right;
    background-color:#6e080f;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.home-icon-link {
    color: #222222; 
    img {
        transition: 0.5s ease;
    }
    .caption {
        font-size: 18px; 
        transition: 0.5s ease; 
    }
}

a.home-icon-link:hover {
    text-decoration: none; 
    .caption {
        color: #b82332; 
    }
    img {
        transform: translateY(-20px) scale(1.2); 
    }

}

.get-started {
    font-size: 32px; 
    font-family: 'Raleway', 'sans-serif'; 
}


